
[submodule "vendor/aml-engine"]
	path = vendor/aml-engine
	url = https://github.com/alfagen/aml-engine.git
[submodule "config/locales/shared"]
	path = config/locales/shared
  url = https://github.com/alfagen/locales.git
