| Клиент: #{client_document.name}
br
| Тип документа: #{client_document.title}
br
| Файл: 
br
= image_tag(client_document.file.to_s, size: '200x200')
br
| Состояние: #{client_document.workflow_state}
- if client_document.workflow_state == 'pending' || client_document.workflow_state == 'rejected'
  =< link_to 'Принять', accept_client_document_path(client_document), method: :put
- if client_document.workflow_state == 'pending' || client_document.workflow_state == 'accepted'
  =< link_to 'Отказать', reject_client_document_path(client_document), method: :put
