h2 Тип документа: #{document_kind.title}
h4 Группа документа: #{document_kind.document_group.title}
.pull-right
  = link_to 'Добавить поле', new_document_kind_field_definition_path(document_kind_field_definition: { document_kind_id: document_kind.id }), class: 'btn btn-success'
br
= render partial: 'amlapp/document_kind_field_definitions/table', locals: { field_definitions: document_kind.definitions.alive } if document_kind.definitions.alive.any?
= render partial: 'amlapp/document_kind_field_definitions/table', locals: { field_definitions: document_kind.definitions.archive } if document_kind.definitions.archive.any?
- if document_kind.image.present?
  = link_to "Открыть #{document_kind.file_title}", document_kind.image.url
- else
  .text-muted Изображение отсутствует
