h4 Напишите причину отклонения заявки
= simple_form_for order, method: :put, url: order_path do |f|
  = f.input :reject_reason, label: false, hint: 'Причина отклонения заявки'
  = f.button :submit, 'Создать', class: 'btn btn-success'
