h4 Заявка: #{order.id}
h4 Клиент: 
h5 Имя #{order.first_name}
h5 Фамилия #{order.surname}
h5 Отчество #{order.patronymic}
h5 Дата рождения #{order.birth_date}
h5 Состояние: #{order.workflow_state}
- if order.pending?
  = button_to 'Принять в обработку', in_process_order_path(order), method: :put, class: 'btn btn-primary'
- if order.processing? || order.accepted?
  = button_to 'Отказать', reject_order_path(order), method: :put, class: 'btn btn-primary'
- if order.processing? || order.rejected?
  = button_to 'Принять', accept_order_path(order), method: :put, class: 'btn btn-primary'
= link_to 'Добавить документ', new_client_document_path(client_document: { order_id: order.id }), class: 'btn btn-primary'
- if documents.count.positive?
  h4 Документы заявки
  = render partial: 'client_documents/documents_list', collection: documents
