h3 Название группы документов: #{document_group.title}
h4 Описание группы документов: #{document_group.details}
h4 Позиция группы документов: #{document_group.position}
h4 Статус: #{!document_group.archived?}
