h3 Новая причина отмены
= simple_form_for reason, method: :post, url: reasons_path do |f|
  = f.input :title, label: false, hint: 'Причина отклонения заявки', required: true
  = f.button :submit, 'Создать', class: 'btn btn-success'
